body{

    background-color: whitesmoke;
    margin: 0;
    font-family: 'Arial', sans-serif;
}
content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: black;
}
header h1{
    margin-left: 30px;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.loading-dots {
    display: inline-block;
    animation: loadingAnimation 1.5s infinite;
}

@keyframes loadingAnimation {
    0%, 20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@media (min-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    .loading-dots {
        font-size: 1.5em;
    }
}